[submodule "PillDetectServer"]
	path = PillDetectServer
	url = https://github.com/brainer3220/PillDetectServerLambda
[submodule "fater-whisper-docker"]
	path = fater-whisper-docker
	url = fater-whisper-docker
[submodule "PillQueryServer"]
	path = PillQueryServer
	url = https://github.com/brainer3220/PillQueryServer
[submodule "GetVoiceEMR"]
	path = GetVoiceEMR
	url = ""
[submodule "VoiceEMRDeleteExpiredRecords"]
	path = VoiceEMRDeleteExpiredRecords
	url = ""
